body {
	background-color: #194840
}

#container {
	font-family: Helvetica, Arial, sans-serif;

	background-color: #A6CAC3;
	width: 640px;
	margin: auto;
	padding: 25px;

	text-align: center;
}

header {
	font-size: 50px;
	line-height: 150px;
}


h1 { margin: 0px; font-size: 30px; }