/*-------------------------------------
| Fonts
-------------------------------------*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);

/*-------------------------------------
| Clearfix
-------------------------------------*/
.cf:before, .cf:after { content: " "; display: table; }
.cf:after { clear: both; }
.cf { *zoom: 1; }

/*-------------------------------------
| Core
-------------------------------------*/
body {
	margin: 0px;
	font-family: 'Open Sans', sans-serif;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 { 
	font-family: 'Open Sans', sans-serif; 
	font-weight: 600;
}

#container {}

.inset {
	/*outline: solid 1px red;*/

	max-width: 1170px;
	min-width: 320px;
	/*width: 90%;*/
	margin: auto;
	position: relative;
}

/*-------------------------------------
| masthead
-------------------------------------*/
#masthead { border-top: 40px solid #12383c; }

#masthead .logo { display: block; margin: 25px auto; }
#masthead #mainmenu { text-align: center; font-size: 0px;}
#masthead #mainmenu a { 
	display: inline-block;
	font-weight: 600;
	text-decoration: none;
	color: #12383c;
	height: 70px;
	line-height: 70px;
	padding: 0px 20px; 
	font-size: 12px;
	width: 50%;
}
#masthead #mainmenu a:hover { border-bottom: 5px solid #12383c; }
#masthead #mainmenu a.chosen { 
	color: #12383C;
	font-weight: bold;
	font-size: 14px;
}



@media screen and (min-width:768px) {
	#masthead {
		height: 110px;
	}
	#masthead .logo { position: absolute; top: 20px; margin: auto;}
	#masthead #mainmenu { 
		position: absolute; 
		top: 0px; 
		right: 0px;
		text-align: left;
	}
	#masthead #mainmenu a { width: auto; margin-left: 20px; }
	#masthead #mainmenu a.chosen { 
		background-image: url(../img/chosen-one-triangle.png);
		background-position: center top;
		background-repeat: no-repeat;
	}
}




/*-------------------------------------
| Opener
-------------------------------------*/
#opener {
	background-image: url(../img/header-cover-image.jpg);
	background-size: cover;
	background-position: center center;
	height: auto;
	color: #fff;
	text-align: center;
	padding-bottom: 20px;
}
#opener h1 {
	font-size: 0px;
	background-image: url(../img/crossroads-logo-opener.png);
	height: 120px;
	background-position: center top;
	background-repeat: no-repeat;
	margin: 0px;

	background-size: 400px auto;

}

#opener h2 { font-size: 24px; }
#opener h3 { font-size: 12px; }

@media screen and (min-width:768px) {
	#opener { height: 493px; }
	#opener h1 { background-size: auto auto; height: 275px; }
	#opener .text { margin-top: 50px; }

	#opener h2 {
		font-size: 60px;
		margin: 0px;
		margin-bottom: -18px;
	}
	#opener h3 {
		font-size: 26px;
		margin: 15px;
		font-weight: 300;
	}
}

/*-------------------------------------
| Main
-------------------------------------*/
#main { background-color: #eee; padding: 10px 0px;}

@media screen and (min-width:768px) {
	#main { padding: 50px 0px; }
	#main section { margin: 50px 0px; }
}

/*-------------------------------------
| Favorites
-------------------------------------*/
#favorites {}
#favorites .col-xs-6 { margin-bottom: 30px; }

/*-------------------------------------
| Trifecta
-------------------------------------*/
#trifecta {}

#trifecta h1 {
	margin: 0px;
	font-size: 20px;
}
#trifecta p {
	margin: 0px 0px 20px;
	font-size: 12px;
	line-height: 17px;
}


/*-------------------------------------
| footer
-------------------------------------*/
#closing {
	height: 300px;
	background-color: #072629;
	text-align: center;
	color: #30524d;
}
#closing .inset {
	padding-top: 100px;
}
#closing h1 {
	font-size: 0px;
	background-image: url(../img/crossroads-logo-footer.png);
	width: 271px;
	height: 82px;
	margin: auto;
}
#closing .copy {

}

/*-------------------------------------
| About Page
-------------------------------------*/
/*.row > div { outline: solid 2px red; }*/



/*-------------------------------------
| Lessons Nav
-------------------------------------*/
#main { min-height: 600px; }
article {
	padding-bottom: 50px;
}
aside {
	background-color: #12383c;
	color: #fff;
	padding: 20px;
	border-radius: 5px;
}
aside h1 { margin: 0px; }


nav.lessons {}
nav.lessons a {
	display: block;
	background-color: #0A1415;
	line-height: 40px;
	text-transform: uppercase;
	text-decoration: none;
	padding: 0px 10px;
	margin: 5px 0px; 
	border-radius: 5px;	
	color: #fff;
}
nav.lessons a:hover { background-color: #000000; color: orange; }



/*-------------------------------------
| Forms
-------------------------------------*/
form.myform {
	background-color: #86C2DD;
	padding: 20px;
	width: 80%;
	border-radius: 10px;
	margin: auto;
}
form.myform input.control {
	background-color: #FDFA8F;
	padding: 5px;
	border: none;
	margin: 0px 10px;
	color: #13204C;
}	
form.myform input.mybutton {
	border-radius: 5px; 
	background-color: #FFD230; 
	color: #13204C;
	border: 1px solid #999;
}	



/*-------------------------------------
| Placeholder
-------------------------------------*/
::-webkit-input-placeholder { color: #8F8C19; }
::-moz-input-placeholder { color: #8F8C19; }
::-ms-input-placeholder { color: #8F8C19; }
input:-moz-input-placeholder { color: #8F8C19; }


/*-------------------------------------
| dbSlides
-------------------------------------*/
#dbSlides {
	width: 620px;
	height: 320px;

	border: solid 10px #42878F;
	margin: auto;

	position: relative;
}

#dbSlides .slide {
	width: 600px;
	height: 300px;

	position: absolute;
	left: 0px;
	top: 0px;
}

#dbSlides .slide .bio {
	background-color: rgba(0,0,0,.5);
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 0px;
	padding: 10px;

	color: #fff;

}

#dbSlides .slide .bio h1{
	margin: 0px;
	font-size: 18px;

}

#dbSlides .slide .bio .text{
	margin: 0px;
	font-size: 12px;
	color: #ccc;

}