body {
	background-color: #480F00
}

#container {
	font-family: Avenir;

	background-color: #A16F69;
	width: 640px;
	margin: auto;
	padding: 25px;

	text-align: center;
}

header {
	font-size: 50px;
	line-height: 150px;
}


h1 { margin: 0px; font-size: 30px; }